@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Oswald&display=swap');

@import url("components/container.css");
@import url("components/item.css");
@import url("components/btn-blue.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/menu-inline.css");
@import url("components/info.css");
@import url("components/professional-container.css");

body {
	background-image: url("../images/wallpaper.jpg");
	font-family: 'Montserrat', sans-serif;
	font-size; 18px;
	text-align: center;	
}

h1 {
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	font-size: 32px;
	font-color: #456888;
}

h2, h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}
