/* Dropdown Button */
.dropbtn {
  background-color: #DED958;
  color: black;
  padding: 5px;
  font-size: 15px ;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  min-width: 133px;
  font-family: 'Oswald', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DED958;
  border-radius: 5px;
  min-width: 133px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  font-family: 'Oswald', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

