.flex-container {
	display: inline-flex;
    flex-direction: row;
}

.flex-child {
    flex: 50%;
    border: 2px solid yellow;
	align-items: center;
	justify-content: center;
	align-content: space-between;
}

.flex-child: first-child {
    margin-right: 20px;
    align-self: stretch;
} 

.image-upload {
    position:relative;
    display:inline-block;
    border:#ebebeb solid 1px;
    width:200px; 
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
    color: white;
    background: #456888;
}
.image-upload input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}

/* Four image containers*/
.column {
  float: left;
  width: 10%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}