<!DOCTYPE html>
<html>
	<head>
		<title>Profile Card</title>
		<meta charset="utf-8">
		<script src="https://kit.fontawesome.com/31b4640371.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="css/style.css" type="text/css">
	</head>
	
	<body>
		<div>
			<ul class="menu-inline">
				<li>
					<a href="#" target="_blank"><img src="images/logo.PNG" alt=Logo id="logo"></a>
				</li>
				<li>
					<a href="#" target="_blank">PRODUCTS</a>
				</li>
				<li>
					<a href="#" target="_blank">PERSONALISATION</a>
				</li>
				<li>
					<a href="#" target="_blank">PROFESSIONAL</a>
				</li>
			</ul>
		</div>


		<div class= "profiles">
				<div class="alignment">
  					<img src="images/photo-arthur.jpg" alt="Arthur">
  					<h1>Arthur Pin</h1>
  					<h2>Lyon</h2>
  					<p>UX designer skills</p>
  					<a href= "https://arthur-pn.github.io/my-profile/" target="_blank"><button>View Profile</button></a>
				</div>
				<div class="alignment">
  					<img src="images/photo-yona.jpg" alt="Yona">
  					<h1>Yona Revelojaona</h1>
  					<h2>Saclay</h2>
  					<p>Web Developer skills</p>
  					<a href="https://yona-ravel.github.io/my-profile/" target="_blank"><button>View Profile</button></a>
				</div>
				<div class="alignment">
  					<img src="images/photo-mathilde.jpg" alt="Mathilde">
  					<h1>Mathilde Parra</h1>
  					<h2>Paris</h2>
  					<p>Digital Project Manager skills</p>
  					<a href="https://mathilde-parra.github.io/my-profile/" target="_blank"><button>View Profile</button></a>
				</div>
		</div>

	</body>
</html>