
.professional-container {

  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
  border-radius: 5px;
  text-align: center;
  margin: 30px auto;
  width: 650px;
  line-height: 30px;
}