.sport-masks-list {
  display: center;
  color: black;
}

.column {
  float: left;
  width: 35%;
  padding: 25px;
  margin-left: 90px;
  text-align: center;
}

.column img {
  width: 200px;
}

.column a {
  color: black;
}

a:hover {
  color: #456888;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}